# Build
build/
bin/
out/

# Executables
*.out
*.exe
*.o
*.obj
*.a
*.so

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# clangd
.cache/

# Editors
.vscode/
.idea/

# Vim
*.swp
*.swo
*~
